@mixin styleText($color, $fs, $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}

@mixin styleHover($bg-color, $border-color, $color) {
    background-color: $bg-color;
    border: $bd-0 solid $border-color;
    color: $color;
}

@mixin styleButton($bg-color, $border-color, $pd-top-bottom, $pd-left-right) {
    background-color: $bg-color;
    border: $bd-0 solid $border-color;
    padding: $pd-top-bottom $pd-left-right;
}

@mixin styleBefore ($w, $h, $mg-b, $bg-color) {
    width: $w;
    height: $h;
    margin-bottom: $mg-b;
    background-color: $bg-color;
}