// Variable Color
$color-inherit: inherit;
$color-black-0:#000; //default
$color-black-1: rgba(0, 0, 0, .7);
$color-black-2: rgba(0, 0, 0, .35);
$color-white-0: #fff; //default
$color-white-1:#ddd;
$color-white-2:#f0f0f0;
$color-gray-1:#999999;
$color-gray-2: #636363;
$color-gray-3:#333333;
$color-gray-4: #1E1E1E;
$color-gray-5: #1f1f1f;
$color-gray-6:#202020;
$color-blue-1: #00adef;
// Variable padding
$pd-1:20px;
$pd-2:30px;
$pd-3: 50px;
$pd-4:60px;
// Variable margin
$mg-0: 0;
$mg-1:10px;
$mg-2:16px;
$mg-3:28px;
$mg-4:40px;
$mg-5: 60px;
// Variable line-height
$lh-0: 1px;
$lh-2:24px;
$lh-3:35px;
$lh-4:44px;
// varialble font-size
$fs-0: 14px; //default
$fs-1 :16px;
$fs-2 :22px;
$fs-3:25px;
$fs-4 :30px;
$fs-5:40px;
// Variable heigh
$h-0: 2em;
// Variable font weigh
$fw-0: normal;
$fw-1:400;
$fw-2:600;
$fw-3:bold;
//Variable border
$bd-0:1px;