.trusted {
    .trusted__content {
        width: 95%;
        margin: 0 auto;
        .trusted__item {
            a {
                display: flex;
                justify-content: center;
                img {
                    width: 35%;
                    height: 100%;
                    display: block;
                    padding-right: 0 !important;
                }
            }
        }
    }
}