.btn__dark {
    @include styleText($color-white-1, $fs-1, $fw-0);
    @include styleButton($color-gray-3, $color-gray-3, 7px, 20px);
    border-radius: 0;
    &:hover {
        @include styleHover($color-gray-5, $color-gray-5, $color-white-2);
        transition: all 0.5s;
    }
}

.btn-blue {
    @include styleText($color-white-1, $fs-1, $fw-0);
    @include styleButton($color-blue-1, $color-blue-1, 5px, 12px);
    border-radius: 1px;
    &:hover {
        @include styleHover(#0088c6, #0088c6, $color-white-1);
        transition: all 0.5s;
    }
}